header {
    color: white;
    text-align: center;
    height: 370px;
}

footer {
    display: flex;
}

.games {
    display: flex;
    flex-wrap: wrap;
}

.game {
    color: white;
    text-align: center;
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.game:hover {
    border: 1px solid white;
}

main {
    background-color: whitesmoke;
    height: 50px;
}

.left {
    background-color: whitesmoke;
    width: 70%;
    height: 230px;
}

.right {
    background-color: whitesmoke;
    width: 30%;
    height: 230px;
    text-align: right;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: crimson;
}

h2 {
    text-align: center;
    letter-spacing: 7px;
    text-transform: capitalize;
}